<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3" *ngIf="cartDetilse;else msg">
  <div class=" d-flex justify-content-between align-items-center">
    <h1 class="h2">shop cart</h1>
    <button (click)="clear()" class="btn btn-outline-danger btn-sm">Clear Cart </button>
  </div>
  <p class="text-main">Total Price: {{cartDetilse.totalCartPrice | currency: "EGP "}}</p>

  <div class="row border-bottom py-2" *ngFor="let item of cartDetilse.products">
    <div class="col-md-1">
      <img class="w-100" [src]="item.product.imageCover"[alt]="item.product.title"/>
    </div>
    <div class="col-md-11 d-flex justify-content-between align-content-center">
      <div>
        <h3 class="h6">{{item.product.title}}</h3>
        <p class="text-main small mb-0"> price: {{item.price | currency :"EGP "}}</p>
        <button #btnRemove (click)="removeCartItem(item.product._id ,btnRemove)" class="btn m-0 p-0 text-main"><i class="fas fa-trash-can"></i>Remove</button>
      </div>
      <div>
        <button #btn1 (click)="changeCount(item.count -1 ,item.product._id, btn1,btn2)"  class="btn btn-sm border-success">-</button>
        <span>{{item.count}}</span>
        <button #btn2 (click)="changeCount(item.count +1, item.product._id, btn1,btn2)" class="btn btn-sm border-success">+</button>
      </div>
    </div>
  </div>
  <button [routerLink]="['/Payment',cartDetilse._id]" class="main-btn mt-3">Online Payment <img src="./assets/images/visa.svg" alt="visa logo"> </button>
</section>

<ng-template #msg>
  <h2 class="text-center"> Your Cart Is Empty... </h2>
</ng-template>
